@mixin pfe-navigation-item(
    $accent-color: map-get($pfe-colors, surface--accent)
) {
    transition: all #{pfe-var(animation-timing)};
    cursor: 			pointer;
    text-decoration: 	none;

    border-top:       #{$accent-color} solid 2px;
    line-height: 4em;
    text-align: center;

    flex: 1;
    display:			flex;
    flex-flow: 			column nowrap;
    align-items: 		center;
    justify-content: 	center;

    min-width: 80px;
    padding: 10px 20px;

    // Fill the navigation container
    min-height: 4em;
}

@mixin pfe-navigation-text(
    $font-size: .9em,
    $color: black
) {
    margin: 0;
    color:  #{$color};
    line-height: 1.2;
    
    font-size: #{$font-size};
    padding: 0 #{pfe-var(container-spacer)};
}