@import "../../pfe-sass/pfe-sass";

$LOCAL: navigation-item;

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================
$pfe-navigation--height: 4em;
$pfe-navigation__aside--width--sm: 240px;
$pfe-navigation__aside--width--lg: 300px;

/// ===========================================================================
/// DEFAULT navigation-item
/// ===========================================================================
:host {
	--pfe-navigation-item__tray--Width__aside: 	#{$pfe-navigation__aside--width--sm};
	--pfe-navigation-item__tray--BorderTop: 	1px solid gray;

	--pfe-navigation-item--Color: 				#{pfe-local(main)};
	--pfe-navigation-item--BackgroundColor: 	#{pfe-local(aux)};
	--pfe-navigation-item--BorderTopColor:		transparent;

	--pfe-navigation-item--main:        #{pfe-color(text)};              // text
	--pfe-navigation-item--main--hover: #{pfe-color(text--on-dark)};     // text hover

	--pfe-navigation-item--aux:         transparent;                     // bg
	--pfe-navigation-item--aux--hover:  #{pfe-color(surface--darkest)};  // bg hover

	display: flex;
	height: 100%;

	font-family: #{pfe-var(font-family)};
	@media (min-width: #{pfe-breakpoint(lg)}){
		--pfe-navigation-item__tray--Width__aside: 	#{$pfe-navigation__aside--width--lg};
	}
	* {
		box-sizing: border-box;
	}
}

:host([hidden]) {
	display: none;
}

// Mobile dropdown menu styles
// :host([pfe-menu="mobile"]) {
	// @include pfe-trigger-button;
	// @include pfe-trigger-expanded;
// }

/// ===========================================================================
/// ON DARK
/// ===========================================================================
:host([on="dark"]) {
	// @media (min-width: #{pfe-breakpoint(lg)}) {
		--pfe-navigation-item--main:        #{pfe-color(text--on-dark)};      // text
		--pfe-navigation-item--main--hover: #{pfe-color(text)};               // text hover

		--pfe-navigation-item--aux:         transparent;                      // bg
		--pfe-navigation-item--aux--hover:  #{pfe-color(surface--lightest)};  // bg hover
	// }
}

// Clear the styles for links in the trigger slot
::slotted(a:not([slot="tray"])) {
	color: inherit;
	text-decoration: none;
}

::slotted([slot="tray"]) {
	display: grid;
	grid-template-areas: "main";
	grid-template-columns: 1fr;
	grid-gap: #{pfe-var(container-spacer)};
	width: 100%;
}
::slotted([slot="tray"][has-aside]) {
	grid-template-areas:
		"main aside";
		grid-template-columns: 1fr #{pfe-local($cssvar: Width__aside, $fallback: #{$pfe-navigation__aside--width--sm}, $region: tray)};
}
::slotted([slot="tray"][has-footer]) {
	grid-template-areas:
		"main"
		"footer";
}
::slotted([slot="tray"][has-aside][has-footer]) {
	grid-template-areas:
		"main aside"
		"footer footer";
}

.pfe-navigation-item {
	&__trigger {
		&[pfe-menu="desktop"] {
			@include pfe-navigation-item(
				$accent-color: #{pfe-local(BorderTopColor)}
			);

			color:            #{pfe-local(Color)}; //text
			background-color: #{pfe-local(BackgroundColor)};  //bg

			&[aria-expanded="true"] {
				--pfe-navigation-item--Color:			#{pfe-local(main--hover)};
				--pfe-navigation-item--BackgroundColor: #{pfe-local(aux--hover)};
				--pfe-navigation-item--BorderTopColor:  #{pfe-color(surface--accent)};
			}
			&:hover {
			  --pfe-navigation-item--BorderTopColor:  #{pfe-color(surface--accent)};
			}
			&:active {
				--pfe-navigation-item--Color:			#{pfe-local(main--hover)};
				--pfe-navigation-item--BackgroundColor: #{pfe-local(aux--hover)};
				--pfe-navigation-item--BorderTopColor:  #{pfe-color(surface--accent)};
			}
			&:focus {
				--pfe-navigation-item--Color: 			#{pfe-local(main--hover)};
				--pfe-navigation-item--BackgroundColor: #{pfe-local(aux--hover)};
				--pfe-navigation-item--BorderTopColor:  #{pfe-color(surface--accent)};
				&:not(:focus-visible) {
					outline: none; // removes outline for mouse users, preserves it for keyboard users
				}
			}
		}
		&[pfe-menu="mobile"] {
			flex: 1;
			display:			flex;
			flex-flow: 			row nowrap;

			width: 100%;
			--pfe-navigation-item--Color: #{pfe-color(surface--lighter--text)};
		}
	}

	&__icon {
		position: relative;
		display: flex;
		width: 	20px;

		[pfe-menu="desktop"] & {
			padding: 0 0 10px 0;
		}
		[pfe-menu="mobile"] & {
			padding: 0 10px 0 0;
		}
		[pfe-icon="bento"] & #Icon {
			-webkit-text-fill-color: 	 #{pfe-local(Color)};
			fill: 	#{pfe-local(Color)};
		}
		[pfe-icon="user"] & #Icon,
		[pfe-icon="globe"] & #Icon,
		[pfe-icon="search"] & #Icon {
			-webkit-text-stroke-color: #{pfe-local(Color)};
			stroke: #{pfe-local(Color)};
		}
	}

	&__text,
	&__link {
		@include pfe-navigation-text(
			$color: #{pfe-local(Color)}
		);

		//shrink the text size of nav items with icons
		[pfe-icon] & {
			font-size: .8em;
		}
	}
	
	&__tray {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: -2px;
		width: 100%;
		z-index: 1;
		transition: all #{pfe-var(animation-timing)};

		background-color: #{pfe-color(surface--lighter)};
		color: #{pfe-color(surface--lighter--text)};

		&[pfe-menu="mobile"],
		&[hidden] {
			display: none;
		}
	}
	&__container {
		display: 	flex;
		flex-flow:  row wrap;
		margin:    	#{pfe-var(container-spacer)} auto;
		width: 		var(--pfe-navigation--Width);
	}
}
